.main {
  align-items: center;
  color: #696D8C;
  display: flex;
  font-family: "SF Pro Text Regular", "Helvetica Neue", Arial, sans-serif;
  height: 100vh;
  justify-content: center;
}

.wrapper {
  align-items: center;
  background-color: #ffffff;
  border: 3px solid #F2F2F2;
  display: flex;
  flex-direction: column;
  width: 509px;
}

.logo {
  align-self: center;
  display: flex;
  margin-top: 3.25rem;
  margin-bottom: 1rem;
}

.header {
  color: #312F4F;
  font-family: "SF Pro Text Medium", "Helvetica Neue", Arial, sans-serif;
  font-size: 1.375rem;
  line-height: 1.3;
  margin-bottom: 2.25rem;
  text-align: center;
}

.input-group {
  display: block;
  max-width: 375px;
  width: 100%;
}

.form-group {
  margin-bottom: 1.5rem;
  width: 375px;
}

.form-group label {
  display: block;
  margin-bottom: 0.5rem;
}

.form-group input {
  border: 1px solid #B6B9D0;
  color:#696D8C;
  width: 100%;
  padding: .75rem 1.25rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; 
}

.register-btn {
  font-family: "SF Pro Text Bold", "Helvetica Neue", Arial, sans-serif;
  font-size: 1rem;
  background-color: #17D499;
  color: #FFFFFF;
  height: 52px;
  position: relative;
  width: 100%;
  margin-bottom: 3rem;
}

.form-group input,
.form-group label,
.form-group input::-webkit-input-placeholder {
  font-family: "SF Pro Text Regular", "Helvetica Neue", Arial, sans-serif;
  font-size: 1rem;
}

.form-group input::-webkit-input-placeholder {
  color: #9499B3;
}

.form-group input::-moz-placeholder {
  color: #9499B3;
  font-family: "SF Pro Text Regular", "Helvetica Neue", Arial, sans-serif;
  font-size: 1rem;
}

.form-group input:-ms-input-placeholder {
  color: #9499B3;
  font-family: "SF Pro Text Regular", "Helvetica Neue", Arial, sans-serif;
  font-size: 1rem;
}

.form-group input:-moz-placeholder {
  color: #9499B3;
  font-family: "SF Pro Text Regular", "Helvetica Neue", Arial, sans-serif;
  font-size: 1rem;
}

.form-group input[name="name"] {
  color: #312F4F;
}

.form-group input[name="email"] {
  color: #312F4F;
}

.form-group .strength-gauge {
  align-items: center;
  display: flex;
  flex-basis: 100%;
  height: 1.5rem;
  justify-content: space-between;
}

.form-group .strength-gauge span {
  background-color: #EAEAF4;
  border-radius: 10px;
  height: .5rem;
  width: 118px;
}

.form-group .box-strength {
  padding-top: .5rem;
}

.form-group .box-strength li {
  margin-bottom: .75rem;
  font-size: 1rem;
}

.form-group .box-strength li::before {
  background-color: #EAEAF4;
  border-radius: 10px;
  content: '';
  display: inline-block;
  margin-right: .5rem;
  height: 10px;
  width: 10px;
}

.hide {
  display: none !important;
}
