.wrapper_register-success {
  align-items: center;
  flex-direction: column;
  display: flex;
  margin-top: 4.75rem;
}

.wrapper_img {
  align-items: center;
  border: 3px solid #17D499;
  border-radius: 50%;
  display: flex;
  height: 84px;
  justify-content: center;
  margin-bottom: 1rem;
  width: 84px;
}

.header_register-success {
  margin-bottom: 1.3rem;
}

.description {
  font-size: 1rem;
  color: #312F4F;
  margin-bottom: 6.675rem;
  width: 70%;
}